
body {
  background-color: rgb(176, 228, 230); 
  color: white; 
}


button {
  background-color: orange; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
}


.page-footer, .page-footer a {
  background-color: lightgreen !important;
}

